.header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    width: 100%;
    top: 0px;
}
.div-1{
    margin-right: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav{
    align-items: center;
    text-align: center;
     display: flex;
    max-width: 244px;
    width: 100%;
    color: #000033;
    column-gap: 40px;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 157px;
    width: 100%;
    height: 51.35px;
    border-radius:20px ;
    border: 2px solid #029837;
}
.nav-1{
   color: #000033; 
   position: relative;
}
.nav-1::after{
   content: " ";
  height: 2px;
  width: 0%;
  background-color: #000033;
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: #000033;
}
.nav-1:hover::after{
    width: 100%;
}


/* seqcia-1 */
.conteiner{
    display: flex;
    text-align: left;
    align-items: center;
   
}

.conteiner-a{
    max-width: 630px;
    width: 100%;
    margin-left: auto;
    row-gap: 30px;
}
.h3-1{
    color:#000033;
    font-size:50px;
    max-width: 630px;
    width: 100%;
}
.p-1{
    color: #000033;
    font-size: 16px;
    max-width: 630px;
    height: 52px;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 40px;
}
.bloc{
    background-color: #029837;
    border-radius: 20px;
    color:#FFFFFF;
    max-width:157px ;
    height: 53.35px;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.div-2{
    max-width:517.88px;
    width: 100%;
    margin-left: auto;
}


/* section-2 */
.section-2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#F7FFF6 ;
    height: 798px;

}
.div-3{
    max-width:518px ;
    width: 100%;
}
.div-4{
    max-width:625px;
    width: 100%;
    margin-left:auto;
}
.div-5{
    font-size: 25px;
    color: #000033;
    margin-bottom: 30px;
}
.div-6{
    font-size: 16px;
}
.div-7{
    display: flex;
    margin-top: 11px;
}
.div-8{
    max-width: 157px;
    height: 53.35px;
    width: 100%;
    border: 2px solid #029837;
    color: #029837;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}


/* section-3 */
.section-3{
    width: 100%;
    background-color: #FFFFFF;
    height: 880px;
}
.the-1{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 40%;
    margin-top: 96px;
}  
.the{
    font-size:35px;
    color: #000033;
    max-width: 509px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.lorem{
    max-width: 598px;
    width: 100%;
    color: #000033;
    font-size: 16px;
}

/* 1 */
.seqtion-a{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    column-gap: 30px;
}
.post-1{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
   margin: auto;
    margin-top: 40px;
}
.pre-marital{
    max-width: 387px;
    width: 100%;
    background-color: white;
    border: 2px solid #00003314;
    border-radius: 20px;
}
.img-1{
    width: 65.1px;
    height: 53px;
    background-color:#0298371A;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-top: 50px;
    margin-left: 10px;
}
.pre-marital-1{
    font-size: 20px;
    color: #000033;
    margin-top: 10px;
    margin-left: 10px;
}
.pre-marital-2{
    font-size: 13px;
    color: #000033;
    margin-top: 10px;
    max-width: 315px;
    width: 100%;
    margin-left: 10px;
}
.learn{
    max-width: 127px;
    height: 43.13px;
    width: 100%;
    border-radius:20px ;
    border: 2px solid #029837;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-left: 10px;
    
}


/* seqcia-4 */
.what{
    font-size:35px ;
    color: #000033;
    text-align: center;
    width: 100%;
}
.section-4{
    width: 100%;
    background-color:#F7FFF6;
    height: 663px;
    padding-top: 50px;
} 
.chi{
    max-width:407px;
    height: 224px;
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 100%;
}
.chichi-1{
    display: flex;
    
}
.chichi-2{
    margin-left: auto;
    margin-top: 30px;
}
.south{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.afrika{
    margin:auto;
}
.ch{
    font-size:13px;
    color:#000033 ;
}
.dolor{
    font-size: 13px;
    max-width: 353px;
    width: 100% ;
    margin: auto;
    margin-top: 20px;
}


/* seqcia-5 */
.seqcia-5{
    max-width: 1555;
    width: 100%;
    height:551px;
    background-color:#FFFFFF ;
}
.Subscribe{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000033;
    font-size: 35px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.your{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #000033;
    font-size: 16px;
    margin-bottom: 40px;
}
.email{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    max-width: 713px;
    margin: auto;
}
.email-1{
   width:400px;
    height: 53px;
    background-color:#F2F1F1 ;
    border-radius: 60px;
}
.sub{
    width:157px;
    background-color: #029837;
    height:53.3px;
    border-radius: 63.3px;
    
}


/* foter */
.footer{
   background-color: #000033;
   color: #FFFFFF;
   padding: 60px 20px 30px;
   width: 100%;

}
.footer-container{
    max-width: 1550px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;
}
.footer-left{
    flex: 1  1 200px;
}
.footer-log{
    width: 140px;
}
.footer-adres{
    max-width: 260px;
    line-height: 1.6;
    color:#FFFFFF ;
    font-size: 16px;
}

.footer-links{
    display: flex;
    gap: 80px;
    flex: 1 1 300px;
}
.footer-links ul{
    list-style: none;
}
.footer-links a{
    color: #FFFFFF;
    display: block;
    margin-bottom: 15px;
   font: size 16px; ;
}
.foter-social{
    flex: 1 1 250px;
}
.foter-social h4{
    margin-bottom: 20px;
}
.social-icons{
    display: flex;
    gap: 20px;
}
.foote-bottom{
    text-align: center;
    font-size: 14px;
    
}

/* burge */
#burger{
    display: none;
}



/* medea max */
@media(max-width: 1200px){
    .header{
        padding: 20px;
    }
    .nav{
        gap: 25px; 
    }
    .header img{
        width: 150px;
    }
    .contact{
        flex-direction: column;
        text-align: center;
    }
    .section-2{
        text-align: center;
    }
    .conteiner-a{
        max-width: 100%;
    }
    .div-2{
        max-width: 100%;
    }
    .post-1{
        max-width: 100%;
    }
    .pre-marital-1{
        max-width: 100%;
        font-size:16px;
        margin-left: 10px;
    }
    .pre-marital-2{
        width: 100%;
        max-width: 150px;
        margin-left: 10px;
        
    }
    .section-4{
        width: 90%;
    }
    .dolor{
        width: 80%;
    }
}









/* mede-2 */
@media(max-width: 1024px){
    .div-1{
        gap: 20px;
    }
    .nav{
        gap: 20px;
    }
    .nav a{
        font-size: 16px;
    }
    .contact{
        padding: 8px 20px;
    }
    .div-3{
        max-width: 100%;
    }
    .h3-1{
        font-size: 32px;
    }
    .p-1{
        font-size: 16px;
    }
    .bloc{
        padding: 10px 20px;
    }
    .img-1{
        margin: 10px;
    }
    .pre-marital{
        width: 100%;
    }
    .section-4{
        width: 90%;
    }
    .dolor{
        width: 80%;
    }
    .learn{
        margin: 10px;

    }
}

@media(max-width: 768px){
    .post-1{
        grid-template-columns: 1fr;
    }
    .section-3{
        padding: 40px 15px;
    }
    .post-1{
        max-width: 100%;
    }
    .pre-marital-1{
        max-width: 100%;
        font-size:16px;
    }
    .pre-marital-2{
        width: 100%;
        font-size: 14px;
    }
    .section-2{
        flex-direction: column;
        width: 100%;
    }
    .div-3{
        width: 90%;
    }
    .conteiner{
        flex-direction: column;
    }
    .conteiner-a{
        max-width: 90%;
    }
    .div-3{
        width: 90%;
    }
    .div-4{
        max-width: 90%;
    }
    .email{
        max-width: 530px;
        width: 100%;
    }
    .sub{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: auto;
    }
}








/* mede-3 */
@media(max-width: 520px){
    .section-3{
        flex-direction: column;
    }
    .pre-marital-1{
        padding: 18px;
        margin-left: 0%;
    }
    .pre-marital-2{
       margin-left: 0%;
        flex-direction: column;
    }
   .section-2{
    flex-direction: column;
   }
   .post-1{
    width: 100%;
   }
   .img-1{
    margin-left: 5px;
   }
   .learn{
    margin-left: 0%;
   }
   


   .conteiner-a{
        max-width: 90%;
    }
    .div-3{
        width: 90%;
    }
    .div-4{
        max-width: 90%;
    }
     .email{
        max-width: 100px;
        width: 100%;
        margin: auto;
    }
    .sub{
     max-width:  157px; 
        margin-top: 10px;
    }


    .nageishen{
       display: none;
    }
    .contact{
        display: none;
    }
    #burger{
        display: block;
    }
    .nav{
        flex-direction: column;
        row-gap: 30px;
    }
       
    .nageishen.active{
        display: block;
    }
   
}







/* mede-4 */
@media(max-width: 320px){
     .email{
        width: 100%;
        max-width: 200px;
    }
    .sub{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-left: auto;
    }
}